@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --orange-gradient: #ff720d;
    --yellow-gradient: #fac70f;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    font-family: Monserrat, sans-serif;
}
.section {
    width: 100%;
    
    height: 100vh;

    background-image: url(../img/top-view-lemon-orange-slices.jpg); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


/*-------------------------------------------------- PROGRESS BAR -------*/
#progress {

    position: sticky;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    animation: progress-bar  linear forwards;
    animation-timeline: scroll();
}

@keyframes progress-bar {
    from { width: 0 }
    to { width: 100% }
}
    

/*-------------------------------------------------- HEADER -------*/
header {
    background-color: rgba(255,255,255,.4);
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    z-index:99;

    backdrop-filter: blur(8px);

     animation: stickyNav .5s linear forwards; 
     animation-timeline:view() ;
     animation-range-start: 100vh;
     animation-range-start: 200vh;
}

@keyframes stickyNav {
    100% {
        top:1rem;
    }
    
}

nav {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 1rem;
}

.logo {
    flex: 4;
    background-image: url(../img/jackdaniels.png); 
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    height: 40px;

}

.main-nav {
    flex: 6;
}

.menu-on-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.menu-on-nav li a {
    color:white;
    text-transform: uppercase;
    text-decoration:none;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    
}


/*-------------------------------------------------- MAIN CONTAINER ----*/
main {
    height: 200vh;
    width: 100%;
    margin-top: -8vh;
    background: linear-gradient( 300deg, var(--orange-gradient), var(--yellow-gradient) );
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding-top: 15vh;
}

.bottle {
    padding: 4rem;
    flex: 2;
    height: 50%;
    border: 1px solid red;
    background-image: url(../img/jackdaniels.png); 
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: fade-in-right 1s ease-in forwards;
}

@keyframes fade-in-right {
    from { opacity: 0 }
    to { opacity: 1 }
}

.legend {
    flex: 5;
    height: 50%;
    font-family: 'Croissant One', sans-serif;
    color: white;
    font-size: clamp(3rem, 0.667rem + 7.778vw, 10rem);
    border: 1px solid green;

    position: relative;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.line1 {
    animation: fade-in-left .7s ease-in forwards;
    opacity: 0;
    transform: translateX(-300px)
}

.line2 {
    animation: fade-in-left .7s ease-in forwards;
    animation-delay: .2s;
    opacity: 0;
    transform: translateX(-300px);
    
}

.line3{
    animation: fade-in-left .7s ease-in forwards;
    animation-delay: .4s;
    opacity: 0;
    transform: translateX(-300px)
}

@keyframes fade-in-left {
    from { 
        opacity: 0;
        transform: translateX(-19rem);
     }
    to { 
        opacity: 1;
        transform: translateX(clamp(0rem, -0.667rem + 8.889vw, 10rem));;
     }
}



/*----------Section----------*/

.section1{

    width: 100%;
    background-color: white;
    height: 50vh;

}
.section2{

    width: 100%;
    background-color: white;
    height: 100vh;


    background-image: url(../img/top-view-lemon-orange-slices.jpg); 
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
