* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;

}

.wrapper {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
}

.container {

    width: 500px;

    aspect-ratio: 1;

    border: 1px solid green;
    position: relative;

    overflow: hidden;
}


.centered{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 2rem;
    color: white;
}
.mycircle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 240px;
    left: 240px;
    cursor: pointer;
    transition: 1s;

}
.main-circle {
    background-color: red;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#c1{
    background-color: rgb(111, 238, 14);
}
#c2{
    background-color: rgb(187, 44, 156);
}
#c3{
    background-color: rgb(16, 119, 216);
}
#c4{
    background-color: rgb(230, 95, 18);
}
#c5{
    background-color: rgb(9, 194, 132);
}
#c6{
    background-color: rgb(80, 6, 55);
}
#c7{
    background-color: rgb(255, 208, 0);
}
#c8{
    background-color: rgb(77, 36, 3);
}

.main-circle:hover +  #c1 {

    transform: translateX(-240px) translateY(-240px);

}
.main-circle:hover  ~  #c2 {

    transform: translateX(0) translateY(-240px);
    transition-delay: .1s;
}
.main-circle:hover  ~  #c3 {

    transform: translateX(240px) translateY(-240px);
    transition-delay: .2s;
}
.main-circle:hover  ~  #c4 {

    transform: translateX(240px) translateY(0);
    transition-delay: .3s;
}
.main-circle:hover  ~  #c5 {

    transform: translateX(240px) translateY(240px);
    transition-delay: .4s;
}
.main-circle:hover  ~  #c6 {

    transform: translateX(0px) translateY(240px);
    transition-delay: .5s;
}
.main-circle:hover  ~  #c7 {

    transform: translateX(-240px) translateY(240px);
    transition-delay: .6s;
}
.main-circle:hover  ~  #c8 {

    transform: translateX(-240px) translateY(0px);
    transition-delay: .7s;
}