@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*Reset CSS*/

*{
    box-sizing: border-box;
    
}

/*-----------Resolver el problema de los heights heredados en los elementos flexibles-----------*/

html, body{
    height: 100%;
    height: 100%;
    margin: 0;
    font-family:'jost';
}

.container{
    width: 100%;
    height: 100vh;
}

.navcollapse{
    display: none;

}

.flexcontainer{ 
    display: flex;
    flex-flow: row nowrap;
    /*--centrar los elementos--*/
    justify-content: center;
    align-items: center;
    /*---same size as its fathers---*/
    height: 100%;
    width: 100%;

}

.item1,.item3{
    flex: 1;
    position: relative;
    height: 100%;
}	

.item2{
    display: flex;
    flex: 20;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}


nav, .slider, .item2footer {
    width: 100%;
}


.slider{
    flex: 10;
}

.item2footer{
    flex: 1;
}

/*-----------------------NAV-----------------------*/

.logo{
    flex:1;
    height: 100%;
}

.nav{
    flex: 8;
}
nav{
    flex:1;

    display: flex;
    justify-content: space-between;
}

#menu_on{

    height: 100%;
    list-style-type: none;


    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.imglogo{
    background-image: url(assets/img/logo.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#menu_on li a{
    font-family: "Ubuntu";
    text-transform: uppercase;
    color: #2b2e2c;
    text-decoration: none;
    font-size:  1.2rm;
    
}

#menu_on li{
    margin-left:  2rem;
}

#menu_on li a:hover{
color: rgb(34, 34, 206);}


/* -----------------------SLIDER------------------------ */

.slider{
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(assets/img/pexels-gochrisgoxyz-1477166.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.legend{
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.little{
    font-size:1.4rem 
}
.great{
    font-size: 4rem;
}

.medium{
    font-size: 2rem;
}


/* ------------------------------------Both sides ------------------------------ */


.earleft{
    background-color:  rgba(181, 181, 181, 1);
    width: 40px;
    height: 220px;

    position: absolute ;
    right: 0;
    top:calc((100%/2) - 110px);
}
.earright{

    background-color:  rgba(181, 181, 181, 1);
    width: 40px;
    height: 220px;

    position: absolute ;
    left: 0;
    top:calc((100%/2) - 110px);
}

.move{
    height: 40px;
    width: 220px;
    transform-origin: 0 0 ;
    transform: rotate(-90deg) translateX(-84%) translateY(20%);
}


.move a {
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Ubuntu";
} 
.subscribe{
    width: 220px;
    height: 40px;
    transform-origin: 0 0 ;
    transform: rotate(-90deg) translateX(-70%) translateY(12%)
}

.subscribe a {
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Ubuntu";
} 

.earbutton{
    background-color: black;
    height: 40px;
    width: 40px;

    position: absolute;
    bottom: 0;
}

.earbutton svg{
    margin-top: 15px;
    margin-left: 8px;
}

/* -------------------------------SLIDER NAV -------------------- */

.item2footer{
    width: 100%;

    display: flex;
    flex-flow: row nowrap ;
    justify-content: center;
    align-items: center;
}

.navfooter{
    list-style-type:none ;
    
    display: flex;

    height: 5px;

    max-width: 250px;
    min-width: 200px;

    flex: 1;
}

.navitem{
    height: 100%;
    flex: 1 0 40px;
    background-color: rgba(181, 181, 181, 1);
    cursor: pointer;
    margin: 5px;
}

.active , .navitem:hover{
    background-color: black !important;
}

/* ------------------------------ABOUT---------------------- */

.about{
    width: 100%;
    height: 100vh;

}

.container-about{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.about-0, .about-1 , .about-2, .about-3{

    flex: 1;

    height: 50%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding: 2rem;

}

.aboutheader{

    margin-bottom: auto;
    
}

.aboutheader h1{
    font-family: "Prompt";
    font-size: 3rem;
    margin-top:0 ;
}


.aboutheader h4{
    font-size: 1.2rem;
    text-transform: uppercase ;
    font-family: "Ubuntu";
    margin:0 auto ;
}



progress{
    width: 100%;
    height: 3px;
    background-color: #dedede;

    margin: .5rem 0;


}
progress::-webkit-progress-bar{
   background-color: #dedede    
}


progress::-webkit-progress-value{
    height: 3px;
    background-color: red;

}


/* ------------------------------TEAM---------------------- */

.team   {
    width: 100%;
    height: 100vh;


}

.container-team{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.team-header{

    width: 100%;
    flex:2;
    display: flex;
    border: 1px solid green;

    justify-content: space-around;
    align-items: center;
}

.team-slider {
    width: 100%;
    flex: 5;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section-name h1{
    font-family: "Roboto";
    font-size: 3rem;
    margin-top: 0;
   
}

.section-name h4, span.legend {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0 auto;
    color: black;
}

.slider-card {
    flex: 0 0 70%; 
    height: 70%;
    display: flex;
    gap: 3rem;
}

.card {
    flex: 1;
}

.card1,.card2,.card3{
    height: 90%;

    background-color: black;

    background-size: cover;
    background-position: center center ;

    background-repeat: no-repeat;
}

.card1{
    background-image: url(assets/img/pexels-magda-ehlers-pexels-985266.jpg);
}
.card2{
    background-image: url(assets/img/pexels-jmark-250591.jpg);
}
.card3{
    background-image: url(assets/img/pexels-pixabay-69776.jpg);
}

.card footer{
    text-transform: uppercase;
    text-align: center;

    font-size: 1.2rem;
    margin-top: 1.2rem;
}


/* --------------------------------------Works------------------------ */


.works{
    height: 100vh;
    width: 100%;

    

}

.container-works{
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

.works-header{
    width: 100%;
    flex:2;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.works-body {
    width: 100%;
    flex: 5;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
}

.workizda{
    flex:1;
    height: 100%;
    background-image: url(assets/img/pexels-inspiredimages-132474.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;


}

.workdcha{
flex:1;
height: 100%;

display: flex;
flex-flow: column nowrap;
justify-content: center;
}

.workarriba{
    flex:1;
    width: 100%;

    background: #000000;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
}

.workabajo{
    flex:3;
    width: 100%;

    background-image: url(assets/img/pexels-pixabay-55748.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}




/* --------------------------------------Works------------------------ */
.works1{
    height: 100vh;
    width: 100%;

    

}

.works1-container{
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;

}

.works1-fila2{
    flex:1;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.witem3{
    flex:1;
    height: 100%;

    background: #000000;
    color: #fff;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    text-transform: uppercase;
}

.witem3 p{
    margin: 0;

}

.witem4{
    flex:1;
    height: 100%;
    background: #fff;
    color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;
    color: #000000;

}

.witem4 p{
    margin: 0;
    padding: 20px;
}



.works1-fila1{
    flex:4;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}
.subtitle{
    text-transform: none;
    text-transform: lowercase;
    font-size: 1.5rem;
}

.witem1{
    flex:1;
    height: 100%;

    background-image: url(assets/img/pexels-pixabay-46216.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.witem2{
    flex:1;
    height: 100%;

    background-image: url(assets/img/pexels-pixabay-53141.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


/* ------------------------------------------DASDasd------------- */


.works2{
    height: 100vh;
    width: 100%;

    

}

.works2-container{
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;

}

.works2-fila2{
    flex:1;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.witem7{
    flex:1;
    height: 100%;

    background: #000000;
    color: #fff;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    text-transform: uppercase;
}

.witem7 p{
    margin: 0;

}

.witem8{
    flex:1;
    height: 100%;
    background: #fff;
    color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;
    color: #000000;

}

.witem8 p{
    margin: 0;
    padding: 20px;
}



.works2-fila1{
    flex:4;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}
.subtitle{
    text-transform: none;
    text-transform: lowercase;
    font-size: 1.5rem;
}

.witem5{
    flex:1;
    height: 100%;

    background-image: url(assets/img/pexels-magda-ehlers-pexels-985266.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.witem6{
    flex:1;
    height: 100%;

    background-image: url(assets/img/pexels-inspiredimages-132474.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* -------------------------Services----------------- */





.services{
    height: 100vh;
    width: 100%;

    

}

.services-container{
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

.services-header{
    width: 100%;
    flex:2;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.services-body{
    width: 60%;
    flex: 5;

    display: flex;
    flex-flow: row wrap;

}

.ser{
    flex: 1 0 50%;
    padding: 2rem;
    position: relative;
}

.ser p:first-child{
    text-transform: uppercase;
    font-size: 1.2rem;

}

.ser p:last-child{

    line-height: 1.5rem;

}

.ser1, .ser2{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}
.ser1 p,.ser3 p {
    text-align: right;
}

.ser1::before{
    content: "";
    width: 90%;
    border: 1px black solid;
    position: absolute ;

    bottom: 0;
    right: 2rem;
}


.ser2::before{
    content: "";
    height: 70%;
    border: 1px black solid;
    position: absolute ;

    left: 0;
    bottom: 2rem;
}

.ser3::before{
    content: "";
    height: 70%;
    border: 1px black solid;
    position: absolute ;

    right: 0;
    top: 2rem;
}


.ser4::before{
    content: "";
    width:90%;
    border: 1px black solid;
    position: absolute ;

    top: 0;
    left: 2rem;
}



/* ----------------------------------------------News------------------------------ */


/* ------------------------------NEWS---------------------- */

.news  {
    flex: 2;
    width: 100%;
    height: 100vh;
}

.news-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
}

.news-header{

    width: 100%;
    flex:2;
    display: flex;

    justify-content: space-around;
    align-items: center;
}

.news-body{
    flex: 5;
    width: 60%;

    display: flex;

}

.news-foto{
    flex: 4;
    height: 80%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.news-texto{
    flex: 8;
    height: 60%;
    padding: 2rem;
}

.newspic {
    flex: 5;
    width: 100%;
    background: grey;
    background-image: url(assets/img/pexels-pixabay-54323.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.newsnav {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sldopt {
    height: 4px;
    flex:  1 0 40px;

    background-color: grey;
    cursor: pointer;

    margin-right: 5px;
}

.title {
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
/* ----------------------------------------------------------QUOTE-------------------- */

.quote{
    width: 100%;
    height: 100vh;
    padding: 5%;

}

.quote-container{
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: black;
    background-image: none;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.myquote {
    text-align: center;
}

.myquote .newnav {
    width: 200px;
    margin: 0 auto;
    border: 1px solid red;
}

.quote-little {
    color: white;
    font-size: 1.2rem;
}

.quote-great {
    color: white;
    font-size:2rem;
    text-transform: uppercase;
}

.activew {
    background: white;
}

.myquote .newnav .sldopt:hover{
    background: white;
}







/* ----------------------Contact----------------------- */


.contact   {
    flex: 2;
    width: 100%;
    height: 100vh;
}

.contact-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
}

.contact-header{

    width: 100%;
    flex:2;
    display: flex;

    justify-content: space-around;
    align-items: center;
}

.contact-body{
    flex: 5;

    width: 60%;
    display: flex;
    flex-flow: column nowrap;

    border:  1px solid red;
}

.line{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.line *{
    flex: 1;

}

.line span:nth-child(2){
    text-align: center;
}

.line span:nth-child(3){
    text-align: right;
}

form{
    height: 100%;
    display: flex;
    flex-flow:  column nowrap;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 5rem;
}

input[type=text]{
    border:0;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 1.1rem;

    padding: .5rem;

}

input[type=text]:focus, textarea:focus{

    border-bottom: 2px solid rgb(150, 11, 11);
    outline:none;
}


textarea{
    width: 100%;
    height: 100px;
    margin-top: .5rem;
    font-size: 1rem;
    resize: none;
}

.messagetext span {
    font-size: 1.1rem;
    color: #807e7e;
}

input[type=submit]{
    border: 0;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    padding: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
}

/* -----------------------------------------LAST--------------------------------- */
.last{
    height: 100vh;
    width: 100%;
    padding: 5%;
}
.last-container{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}
.last-item1{
    height: 100%;
    flex: 1;


    background-image: url(assets/img/pexels-pixabay-54323.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.last-item2{

    height: 100%;
    flex: 1;

    background-image: url(assets/img/pexels-pixabay-54323.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;


}





footer{
    width: 100%;
    height: 20vh;

    display: flex;
    flex-flow:  column nowrap;
    justify-content: center;
    align-items: center;
}

.logofooter{
    width: 300px;
    height: 100%;
    flex: 1;

    background-image: url(assets/img/logo.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}




