@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*Reset CSS*/

*{
    box-sizing: border-box;
    
}

/*-----------Resolver el problema de los heights heredados en los elementos flexibles-----------*/

html, body{
    height: 100%;
    height: 100%;
    margin: 0;
    font-family:'jost';
}

.container{
    width: 100%;
    height: 100vh;
}

.navcollapse{
    display: none;

}

.flexcontainer{ 
    display: flex;
    flex-flow: row nowrap;
    /*--centrar los elementos--*/
    justify-content: center;
    align-items: center;
    /*---same size as its fathers---*/
    height: 100%;
    width: 100%;

}

.item1,.item3{
    flex: 1;
    position: relative;
    height: 100%;
}	

.item2{
    display: flex;
    flex: 20;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}


nav, .slider, .item2footer {
    width: 100%;
}


.slider{
    flex: 10;
}

.item2footer{
    flex: 1;
}

/*-----------------------NAV-----------------------*/

.logo{
    flex:1;
    height: 100%;
}

.nav{
    flex: 8;
}
nav{
    flex:1;

    display: flex;
    justify-content: space-between;
}

#menu_on{

    height: 100%;
    list-style-type: none;


    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.imglogo{
    background-image: url(assets/img/logo.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#menu_on li a{
    font-family: "Ubuntu";
    text-transform: uppercase;
    color: #2b2e2c;
    text-decoration: none;
    font-size:  1.2rm;
    
}

#menu_on li{
    margin-left:  2rem;
}

#menu_on li a:hover{
color: rgb(34, 34, 206);}


/* -----------------------SLIDER------------------------ */

.slider{
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(assets/img/pexels-gochrisgoxyz-1477166.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.legend{
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.little{
    font-size:1.4rem 
}
.great{
    font-size: 4rem;
}

.medium{
    font-size: 2rem;
}


/* ------------------------------------Both sides ------------------------------ */


.earleft{
    background-color:  rgba(181, 181, 181, 1);
    width: 40px;
    height: 220px;

    position: absolute ;
    right: 0;
    top:calc((100%/2) - 110px);
}
.earright{

    background-color:  rgba(181, 181, 181, 1);
    width: 40px;
    height: 220px;

    position: absolute ;
    left: 0;
    top:calc((100%/2) - 110px);
}

.move{
    height: 40px;
    width: 220px;
    transform-origin: 0 0 ;
    transform: rotate(-90deg) translateX(-84%) translateY(20%);
}


.move a {
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Ubuntu";
} 
.subscribe{
    width: 220px;
    height: 40px;
    transform-origin: 0 0 ;
    transform: rotate(-90deg) translateX(-70%) translateY(12%)
}

.subscribe a {
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Ubuntu";
} 

.earbutton{
    background-color: black;
    height: 40px;
    width: 40px;

    position: absolute;
    bottom: 0;
}

.earbutton svg{
    margin-top: 15px;
    margin-left: 8px;
}

/* -------------------------------SLIDER NAV -------------------- */

.item2footer{
    width: 100%;

    display: flex;
    flex-flow: row nowrap ;
    justify-content: center;
    align-items: center;
}

.navfooter{
    list-style-type:none ;
    
    display: flex;

    height: 5px;

    max-width: 250px;
    min-width: 200px;

    flex: 1;
}

.navitem{
    height: 100%;
    flex: 1 0 40px;
    background-color: rgba(181, 181, 181, 1);
    cursor: pointer;
    margin: 5px;
}

.active , .navitem:hover{
    background-color: black;
}

/* ------------------------------ABOUT---------------------- */

.about{
    width: 100%;
    height: 100vh;

}

.container-about{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.about-0, .about-1 , .about-2, .about-3{

    flex: 1;

    height: 50%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding: 2rem;

}

.aboutheader{

    margin-bottom: auto;
    
}

.aboutheader h1{
    font-family: "Prompt";
    font-size: 3rem;
    margin-top:0 ;
}


.aboutheader h4{
    font-size: 1.2rem;
    text-transform: uppercase ;
    font-family: "Ubuntu";
    margin:0 auto ;
}



progress{
    width: 100%;
    height: 3px;
    background-color: #dedede;

    margin: .5rem 0;


}
progress::-webkit-progress-bar{
   background-color: #dedede    
}


progress::-webkit-progress-value{
    height: 3px;
    background-color: red;

}


/* ------------------------------TEAM---------------------- */

.team   {
    width: 100%;
    height: 100vh;

    background-color: blanchedalmond;

}

.container-team{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.team-header{

    width: 100%;
    flex:2;
    display: flex;
    border: 1px solid green;

    justify-content: space-around;
    align-items: center;
}
.team-slider{
    display: flex;
    flex: 5;
    border: 1px solid red;
    align-items: flex-start;
}

.section-name h1{
    font-family: "Prompt";
    font-size: 3rem;
    margin-top:0 ;
}


.section-name h4 , span.legend{
    color: black;
    font-size: 1.2rem;
    text-transform: uppercase ;
    font-family: "Ubuntu";
    margin:0 auto ;
}

.slider-card{
    border: 1px solid red;
    flex: 0 0 70%;
    height: 70%;
}
.card{

    background-color: rgba(181, 181, 181, 1);
}