@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}


:root {
    --main-color: #23252E;
    --secondary-color: #a04b4b;
}

main {
    height: 100vh;
    width: 100%;

    background: url(../img/hero.webp) no-repeat center center/cover;
}

header {
    width: 100%;
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);


    position: sticky;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
        width: 100px;
        max-height: 100%;

    }

    & .logo img {
        width: 100%;
        height: 100%;
    }

    & nav {
        flex: 5;


    }



}


.nav-bar {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}

.nav-bar li {
    margin-left: 2rem;
}

.nav-bar li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.tag-line {
    width: 40%;

    font-size: clamp(1.5rem, 0.667rem + 2.778vw, 4rem);

}

.hero {
    background: rgba(0, 0, 0, 0.295);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;


    z-index: -1;

    margin-top: -8vh;

    padding-left: 4rem;
}


button {
    padding: .7rem 3rem;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
}

.join {
    background-color: var(--main-color);
    color: white;
}

.explore {
    border: 2px solid var(--main-color);
    color: var(--main-color);
}



/*-------------------subhero---------------------*/

.subhero {
    display: grid;
    grid-template-columns: 3fr 3fr 4fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid red;
    overflow: hidden;
}

.subhero>* {
    padding: 2rem;
}

.our-blog {
    background-color: var(--secondary-color);
    color: white;
}

.ul-items {
    list-style-type: none;
    margin-top: 2rem;

    & li {
        margin-top: 1.5rem;
    }

    & li h4 i {
        margin-right: 2rem;
    }

    & li h4 {
        margin-bottom: .5rem;
    }

    & li p {
        margin-left: 3rem;
    }
}

.blog-1,
.blog-2 {
    margin-top: 2rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
}

.blog-1 img,
.blog-2 img {
    flex: 1;
    object-fit: cover;
    object-position: center;
    height: 6rem;
}

.blog-text {
    flex: 2;
}

.blog-text p {
    margin: 1.5rem 0;
}

.our-blog .join {
    margin-top: 1.5rem;
}

@media screen and (max-width: 1200px) {
    .subhero {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .our-blog {
        grid-column: 1 / 3;

    }

    .news {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 4rem;

    }

    
}

@media screen and (max-width: 955px) {
    .subhero {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2fr;

        &>* {
            grid-column: 1/3;
        }

        & .news {
            flex-direction: column;
        }
    }

    .our-blog>button {
        margin-left: calc(100% - 3rem);
    }
}


h2 {
    font-size: clamp(2rem, 1.333rem + 1.389vw, 3rem);
}



/*-----------------DISCOVER-----------------*/

.discover {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 8rem;
    gap: 4rem;
}

.discover-text,
.discover-pic {
    flex: 1;
}

.discover-pic {
    aspect-ratio: 1/1;
    background-image: url(https://www.recetassinlactosa.com/wp-content/uploads/2018/04/Pastel-tres-leches-YouTube.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.discover-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}



@media screen and(max-width: 500px) {
    .discover {
        padding: 2rem;
    }
}

@media screen and (max-width:1200px) {
    .discover {
        flex-direction: column;
    }

}


.latest {
    text-align: center;
    padding: 4rem;
    position: relative;

    & h4 {
        margin: 2rem;
    }

    & p {
        margin: 2rem;
    }

    & article {
        display: flex;
        flex-flow: row wrap;
        padding: 2rem;
        gap: 2rem;
    }

    & article > * {
        flex: 1;

        & img {
            max-width: 100%;
            aspect-ratio: 4 / 3;
            object-fit: cover;
        }
    }
}

.news-body {
    text-align: left;

    & h3 {
        font-size: 1.7rem;
        margin-left: 2rem;
    }
    
    & .category{
        padding: .5rem 1rem;
        margin-right: 2rem;
    }

    & i {
        margin-right: 1rem;
    }

    & p {
        margin: 2rem 0;
    }
}



@media screen and (max-width: 1200px) {
    .latest {
        & article > * {
            flex: 0 0 40%;
        }

        & article > *:last-child {
            margin-top: 4rem;
        }

        & button.join{
            position: absolute;
            top: 65%;
            left: 65%;
        }
    }
    
}



@media screen and (max-width: 500px) {

    .discover{
        padding: 2rem;
    }
    .latest {
        padding: 2rem;
        
        & button.join{
            position: inherit;
        }
    }
}


.gallery {
    text-align: center;
    padding: 4rem;

    & h4 {
        margin: 2rem;
    }

    & p {        
        margin: 2rem;
    }
}

.cell {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cell1 {
    background-image: url(../img/1.jpg);
}
.cell2 {
    background-image: url(../img/2.jpg);
}
.cell3 {
    background-image: url(../img/3.jpg);
}
.cell4 {
    background-image: url(../img/4.jpg);
}
.cell5 {
    background-image: url(../img/5.jpg);
}
.cell6 {
    background-image: url(../img/6.jpg);
}
.cell7 {
    background-image: url(../img/7.jpg);
}
.cell8 {
    background-image: url(../img/8.jpg);
}
.cell9 {
    background-image: url(../img/9.jpg);
}
.cell10 {
    background-image: url(../img/10.jpg);
}
.cell11 {
    background-image: url(../img/11.jpg);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows:  minmax(300px, 1fr);
    

    border: 1px solid red;
}

.cell-tall{
    grid-row: span 2 / auto;
}

.cell-wide{
    grid-column: span 2 / auto;
}